---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Progress from "../components/Progress.astro";
import Card from "../components/Card.astro";
import Factbox from "../components/Factbox.astro";
import image1 from "../assets/cardimage1.jpg";
import image2 from "../assets/Medien.jpg";
import image3 from "../assets/Medien (1).jpg";
---

<Layout title="Welcome to Astro.">
  <main>
    <section id="hero">
      <Hero />
    </section>
    <section id="skills">
      <div class="skill-grid">
        <Progress language={"TypeScript"} color={"green"} progressValue={20} />
        <Progress language={"C#"} color={"green"} progressValue={50} />
        <Progress language={"SQL"} color={"green"} progressValue={60} />
        <Progress language={"HTML/CSS"} color={"green"} progressValue={30} />
      </div>
    </section>
    <section id="projects">
      <div class="card-container">
        <Card
          image={image1}
          alt="Projekt 1"
          title="Projekt 1"
          body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quos."
        />
        <Card
          image={image2}
          alt="Projekt 2"
          title="Projekt 2"
          body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quos."
        />
        <Card
          image={image3}
          alt="Projekt 3"
          title="Projekt 3"
          body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quos."
        />
      </div>
    </section>
    <section id="cat-facts">
      <Factbox />
    </section>
  </main>
</Layout>

<style>
  main {
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  section {
    margin-bottom: 5rem;
  }
  .skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
  }
</style>
