---
import { Image } from "astro:assets";
import ich from "../assets/Me.jpg";
---

<section class="hero">
    <div class="hero-image">
        <Image src={ich} alt="CrazyCatLady" id={"ich-image"} />
    </div>
    <div class="hero-text">
        <p class="greeting">Hi, ich bin</p>
        <h2>Isabell Oehme</h2>
        <h3>Crazy Cat Lady</h3>
        <p>
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque aliquam beatae alias, totam atque quidem repudiandae reiciendis itaque velit optio. Aliquam at nam fuga laudantium voluptatibus odio, odit eum obcaecati culpa tempora ea nemo consectetur nihil natus provident expedita quia nulla reprehenderit consequatur possimus, facilis sed atque. Ipsa atque hic sit ad doloremque, porro velit nostrum. Quidem delectus quod aspernatur dicta provident minus fuga magni ex. Voluptate quasi suscipit sed.
        </p>
    </div>
</section>

<style>
    section.hero {
        margin-top: 4rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: row;
        height: 70vh;
        overflow-y: hidden;
    }
    section.hero > div.hero-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50vw;
        margin: 0 5vw 0 auto;
        position: relative;
        z-index: -2;
    }
    section.hero > div.hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50vw;
        margin: 0 5vw 0 auto;
        position: relative;
        z-index: 10;
    }
    div.hero-text > h1 {
        margin-top: 0;
        color: green;
        font-size: 1.1em;
    }

    .hero-image > #ich-image {
        object-fit: cover;
        height: 100%;
        overflow-x: hidden;
        width: 100%;
        border-radius: 4rem;
        box-shadow: 10px 5px 5px rgb(35, 95, 35);
    }
    .hero-text > * {
        text-align: center;
    }
    .hero-text > :not(:last-child) {
        line-height: 100%;
    }
    .hero-text > p.greeting {
        font-size: 1.3em;
        color: yellowgreen;
        margin: 0;
    }
    .hero-text > h2 {
        color: green;
        margin-top: 0.5rem;
        font-size: 3em;
        font-weight: 800;
        margin: 0.5rem 0 1.4rem 0;
    }
    .hero-text > h3 {
        color: yellowgreen;
        font-size: 1.4em;
        font-weight: 600;
        margin-top: 1rem;
        margin: 0 0 1rem 0;
    }
    .hero-text p {
        max-width: 45ch;
        color: bisque;
    }
    @media only screen and (max-width: 900px) {
        section.hero {
            flex-direction: column;
            font-size: 0.9em;
        }
        section.hero > div.hero-image {
            margin: 0 1rem;
            width: 100%;
            position: static;
        }
        section.hero > div.hero-text {
            margin: 0 1rem;
            max-width: none;
            position: static;
        }
        .hero-text p {
            width: 100%;
            max-width: none;
        }
    }
</style>
